body{
  margin:100px;
  font-family:Helvetica;
  text-align: center;
}

h2 {
  margin: auto;

}

.grid {
/*  border:1px solid black;*/
  background:lightgray;
  display:block;
  height:500px;
  width:500px;

  padding:0px;
  border-radius: 10px;
  margin: 0px auto 0px auto;
}

#button{
  display:block;
  background: lightblue;
  border-radius:10px;
  width: 100px;

  padding: 10px;
  text-align: center;
  margin: 40px auto 0px auto;
}

#button:hover{
  box-shadow: 3px 3px 1px aliceblue;
/*  background: aliceblue;*/
  cursor:pointer;
}


li {
  list-style:none;
  float:left;
}

.cell{
  height:8px;
  width:8px;
  border:1px solid lightgray;
  border-radius: 20px;
}

.snake {
  background-color: green;
}

.apple{
  background-color: red;
}