body{
  margin:100px;
  font-family:Helvetica;
}

.p {
  margin: auto;
}

.board {
/*  border:1px solid black;*/
  background:lightgray;
  display:block;
  height:100px;
  width:340px;
  float:left;
  padding:20px;
}

/*.square {
  border:5px solid black;
  display:block;
  height:100px;
  width:100px;
  float:left;
  text-align: center;
  font-size:72pt;
  font-family:Helvetica, sans;
}*/

.col{
  width:100px;
  float:left;
  display:block;
  padding:0 5px 5px 5px;
}

.cell{
  height:30px;
/*  padding:10px 5px;*/
  border-radius:5px;
  margin: 2px auto;
}

.cell[data-size="0"]{
  background:red;
  height:30px;
  width:0px;
}

.cell[data-size="1"]{
  background:blue;
  width:50px;

}

.cell[data-size="2"]{
  background:yellow;
  width:75px;
}

.cell[data-size="3"]{
  background:green;
  width:100px;
}

.clicked{
  /*border-right: 1px solid salmon;
  border-left: 1px solid salmon;*/
  background:aliceblue;
}